nav {
    background-color: #BBC4AB;
    margin: 0;
    overflow: hidden;
    width: 100%;
    text-align: right;
    display: flex;
}

nav ul {
    margin: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: 40px;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: #363434;
    background-color: #BBC4AB;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #8da366;
    color: #000;
}

nav ul li a.selected {
    background-color: #8da366;
    font-weight: bold;
}

nav a.logo {
    padding: 0px 0px;
    margin-left: 0px;
    list-style-type: none;
    float: left;
}

nav img {
    width: 200px;
    height: 100px;
}

/* Letras logo */

p.logo-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}

p.logo-subtitle {
    font-size: 20;
    font-weight: bold;
    margin: 0px;
}

div.text-logo {
    display: inline-block;
}

a.logo {
    color: #363434;
}