<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/navegacion.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <nav>
        <a href="../index.html" class="logo">
            <img src="../imagenes/logo.png" width="720" height="475" style="display: inline-block;" alt="logo">
            <div class="text-logo">
                <p class="logo-title">
                    La despedida
                </p>
                <p class="logo-subtitle">
                    Servicios Funerarios
                </p>
            </div>
        </a>
        <ul>
            <li>
                <a href="acerca_de_nosotros.html" class="selected">Promotora del proyecto</a>
            </li>
            <li>
                <a href="proyecto.html">Proyecto</a>
            </li>
            <li>
                <a href="situacion_del_mercado.html">Situación</a>
            </li>
            <li>
                <a href="productos.html">Servicios</a>
            </li>
            <li>
                <a href="presupuesto.html">Pide presupuesto</a>
            </li>
        </ul>
    </nav>
    <section>
        <div>
            <h1>
                Promotora del proyecto:
            </h1>
            <h2>
                Tsanka Pavlova Nikolova
            </h2>
        </div>
        <div>
            <p>Formacion académica y profesional</p>
            <ul>
                <li>Técnico en tanatoéstica y tanatopraxia</li>
                <li>Experienci laboral en tanatorio de Móstoles (Madrid)</li>
                <li>Atención al cliente</li>
            </ul>
            <ul>
                <li>A costo plazo: Ampliar experiencia en seguros de descesos y servicios funerarios</li>
            </ul>
        </div>
        <div>
            <img class="me" src="../imagenes/me.png" width="596" height="770" alt="Tsanka Pavlova Nikolova">
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <ul>
                <li>
                    <a href="acerca_de_nosotros.html">Acerca de</a>
                </li>
                <li>
                    <a href="terminos.html">Terminos y condiciones</a>
                </li>
                <li>
                    <a href="privacidad.html">Política de privacidad</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>
            <div class="social">
                <h4>Síguenos en redes</h4>
                <div class="social-iconos">
                    <a href="https://www.facebook.com" target="_blank">
                        <span class="fa-facebook"></span>
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <span class="fa-instagram"></span>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <span class="fa-linkedin"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Dirección: Gran Vía, 1, Madrid</p>
            <p class="copyright">
                Sitio de Tsanka Pavlova © 2025 Tsanka Inc; Bajo la licencia MIT. 
            </p>
        </div>
        
    </footer>
</body>
</html>