<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de privacidad</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/navegacion.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <nav>
        <a href="../index.html" class="logo">
            <img src="../imagenes/logo.png" width="200" height="100" style="display: inline-block;" alt="logo">
            <div class="text-logo">
                <p class="logo-title">
                    La despedida
                </p>
                <p class="logo-subtitle">
                    Servicios Funerarios
                </p>
            </div>
        </a>
        <ul>
            <li>
                <a href="acerca_de_nosotros.html">Promotora del proyecto</a>
            </li>
            <li>
                <a href="proyecto.html">Proyecto</a>
            </li>
            <li>
                <a href="situacion_del_mercado.html">Situación</a>
            </li>
            <li>
                <a href="productos.html">Servicios</a>
            </li>
            <li>
                <a href="presupuesto.html">Pide presupuesto</a>
            </li>
        </ul>
    </nav>
    <section>
        <h1>Política de privacidad</h1>
        <p>Creemos que la recopilación y el uso de la información deben ir de la mano con la transparencia. Esta Política de privacidad explica cómo la Fundación Wikimedia, la organización sin fines de lucro que alberga los Sitios de Wikimedia, como Wikipedia, recopila, utiliza y comparte la información que recibimos de usted a través de su uso de los Sitios de Wikimedia. Es esencial entender que, al usar cualquiera de los Sitios de Wikimedia, usted acepta la recopilación, transferencia, procesamiento, almacenamiento, divulgación y uso de su información, como se describe en esta Política de privacidad. Esto significa que es importante leer atentamente esta Política.</p>

        <p>Creemos que usted no debería tener que proporcionar Información personal no pública para participar en el movimiento de libre conocimiento. Usted no tiene que proporcionar información como su nombre real, dirección o fecha de nacimiento para inscribirse en una cuenta estándar o contribuir con contenido a los Sitios de Wikimedia.</p>

        <p>No vendemos ni alquilamos su Información personal, ni se la damos a otros para venderle nada. La usamos para averiguar cómo hacer que los Sitios de Wikimedia sean más atractivos y accesibles, para ver qué ideas funcionan y para hacer que el aprendizaje y la contribución sean más divertidos. En pocas palabras, usamos esta información para hacer que los Sitios de Wikimedia sean mejores para usted.</p>

        <p>Después de todo, son las personas como usted los defensores del conocimiento libre, que hacen posible que los Sitios de Wikimedia no sólo existan, sino que también crezcan y prosperen. </p>
    </section>
    <footer>
        <div class="footer-content">
            <ul>
                <li>
                    <a href="acerca_de_nosotros.html">Acerca de</a>
                </li>
                <li>
                    <a href="terminos.html">Terminos y condiciones</a>
                </li>
                <li>
                    <a href="privacidad.html">Política de privacidad</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>
            <div class="social">
                <h4>Síguenos en redes</h4>
                <div class="social-iconos">
                    <a href="https://www.facebook.com" target="_blank">
                        <span class="fa-facebook"></span>
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <span class="fa-instagram"></span>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <span class="fa-linkedin"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Dirección: Gran Vía, 1, Madrid</p>
            <p class="copyright">
                Sitio de Tsanka Pavlova © 2025 Tsanka Inc; Bajo la licencia MIT. 
            </p>
        </div>
        
    </footer>
</body>
</html>