<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/navegacion.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <nav>
        <a href="../index.html" class="logo">
            <img src="../imagenes/logo.png" width="200" height="100" style="display: inline-block;" alt="logo">
            <div class="text-logo">
                <p class="logo-title">
                    La despedida
                </p>
                <p class="logo-subtitle">
                    Servicios Funerarios
                </p>
            </div>
        </a>
        <ul>
            <li>
                <a href="acerca_de_nosotros.html">Promotora del proyecto</a>
            </li>
            <li>
                <a href="proyecto.html">Proyecto</a>
            </li>
            <li>
                <a href="situacion_del_mercado.html">Situación</a>
            </li>
            <li>
                <a href="productos.html" class="selected">Servicios</a>
            </li>
            <li>
                <a href="presupuesto.html">Pide presupuesto</a>
            </li>
        </ul>
    </nav>
    <section>
        <div>
            <h2>Te ofrecemos las siguientes características</h2>
            <p>
                Nos basamos en el último informe RADIOGRAFÍA DEL SECTOR FUNERARIO 2019, elaborado por la Asociación Nacional de Servicios Funerarios “Panasef” para ofreseros los siguientes servicios garantizados
            </p>
            <ul>
                <li>Transmitir la calidad y satisfacción del cliente en la prestacion del servicio funerario</li>
                <li>Servicio completo y profesional</li>
                <li>Gestion integral de todo lo necesario</li>
                <li>Trato humano recibido</li>
                <li>Digitalización o modernización</li>
            </ul>
            <img src="../imagenes/servicios.png" width="300" height="200" alt="servicios">
        </div>
    </section>
    <h1 style="padding-left: 20px;">
        Servicios
    </h1>
    <div class="row">
        <div class="column">
            <div class="cell">
                <img src="../imagenes/funerarias.png" alt="funerarias">
                <p class="img_description">Funerarias: 6000 eur</p>
            </div>
            <div class="cell">
                <img src="../imagenes/marmolistas.png" alt="marmolistas">
                <p class="img_description">Marmolistas: 2000 eur</p>
            </div>
            <div class="cell">
                <img src="../imagenes/floristeristas.png" alt="floristerias">
                <p class="img_description">Floristerias: 200 eur</p>
            </div>
        </div>
        <div class="column">
            <div class="cell">
                <img src="../imagenes/cementerio.png" alt="cementerio">
                <p class="img_description">Cementerios: 500 eur</p>
            </div>
            <div class="cell">
                <img src="../imagenes/iglesia.png" alt="iglesia">
                <p class="img_description">Iglesia: 500 eur</p>
            </div>
            <div class="cell">
                <img src="../imagenes/administrativo.png" alt="servicios administrativos">
                <p class="img_description">Trámites: 600 eur</p>
            </div>
        </div>
        <div class="column">
            <div class="cell">
                <img src="../imagenes/servicios.png" alt="servicios">
                <p class="img_description">Morgue: 1000 eur</p>
            </div>
            <div class="cell">
                <img src="../imagenes/recepcion.png" alt="recepción">
                <p class="img_description">Recepción: 2500 eur</p>
            </div>
        </div>
    </div>
    
      <footer>
        <div class="footer-content">
            <ul>
                <li>
                    <a href="acerca_de_nosotros.html">Acerca de</a>
                </li>
                <li>
                    <a href="terminos.html">Terminos y condiciones</a>
                </li>
                <li>
                    <a href="privacidad.html">Política de privacidad</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>
            <div class="social">
                <h4>Síguenos en redes</h4>
                <div class="social-iconos">
                    <a href="https://www.facebook.com" target="_blank">
                        <span class="fa-facebook"></span>
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <span class="fa-instagram"></span>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <span class="fa-linkedin"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Dirección: Gran Vía, 1, Madrid</p>
            <p class="copyright">
                Sitio de Tsanka Pavlova © 2025 Tsanka Inc; Bajo la licencia MIT. 
            </p>
        </div>
        
    </footer>
</body>
</html>